<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="./b.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2cbfcacb03.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body class="about-body">
    <header>
    </header>
    <main class="about-main">
        <div  class="missBright-about">
            <img src="./asset/bright.jpg" alt="Miss BRIGHT" class="missBright-about-img">
        </div>
        <div  class="main-para">
            <h1>About Me</h1>
            <p>
                Hi, I'm Bright Omolayo. I'm a front-end web developer. I enjoy seeking out creative <br> solutions to complex problems. I started my journey into programming in 2022 when I got interested in Web Development <br> and decided to learn HTML, CSS and JAVASCRIPT.  I learned various web technologies and  <br>their best practices and built several  projects. <br><br>
    
                I love programming because it is so practical, and I can solve real-world challenges with it. For me,<br> programming is a tool to express myself in a creative way. Plus, there is so much to explore <br>that always keeps me excited! <br> <br>
    
                In my free time, I get inspiration from other people's work and try out new <br> technologies to build side projects. Apart from that, <br> I also read books sometimes.
    
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aut libero laboriosam doloribus <br>vel magnam dicta voluptates saepe iure. Autem doloribus consequuntur, blanditiis vero reprehenderit <br> itaque quas inventore incidunt  quibusdam. Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit. Officia iusto, ipsum quidem modi mollitia recusandae dolorem  fugit aliquam
                <br> So far, I have shipped 100+ web design projects and I am always <br>looking for the next good fit to do great work with. Is that you? Let’s talk
            </p>
            <a href="./index.html"><button>Learn More</button></a>
        </div>
    </main>
    <footer>   
    </footer>
    <script src="../bright.js"></script>
</body>
</html>