<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Balogun</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="first-nav-div">
                <ul class="first-nav-ul">
                    <li><a href="./index.html"><h1>Balogunbright's</h1></a></li>
                    <li class="mobile"><a href="./projects.html"><button>Projects</button></a></li>
                    <li class="mobile"><a href="./bio.html"><button>Bio</button></a></li>
                    <li class="mobile"><a href="./about.html"><button>About</button></a></li>
                </ul>
            </div>
            <div class="hamburger">
                <div class="drop-down-menu"></div>
                <div class="drop-down-menu"></div>
            </div>
            <div class="second-nav-div">
                <ul class="second-nav-ul">
                    <li><a href="">Fa</a></li>
                    <li><a href="">In</a></li>
                    <li><a href="">Me</a></li>
                    <li><a href="">Tw</a></li>
                </ul>
                <div style="display: none;">
                    <ul>
                        <li><a href="./projects.html"><button>Projects</button></a></li>
                        <li><a href="./bio.html"><button>Bio</button></a></li>
                        <li><a href="./about.html"><button>About</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-first-div">
            <h1 class="hello-there">Hello there ☺</h1>
            <h1 class="heading-intro">I’m a Full-stack Web Developer, Data Analyst and <br>a Budding Cyber Security Engineer.</h1>
            <p>
                Lorem ipsum dolor, si hht amet conhhsectetur adipisicing elit. Voluptatem aut libero laboriosam doloribus <br>vel magnam dicta voluptates saepe iure. Autem doloribus consequuntur, blanditiis vero reprehenderit <br> itaque quas inventore incidunt  quibusdam. Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit. Officia iusto, ipsum quidem modi mollitia recusandae dolorem  fugit aliquam 
            </p>
        </div>
        <div  class="missBright">
            <img src="../static/asset/bright.jpg" alt="Miss BRIGHT" >
        </div>
    </main>
    <footer>   
        <div class="get-in-touch-div">
            <a href="./contact.html">
                <button>
                    Get in Touch
                 </button>
            </a>
            <div class="getInTouch-placeholder">
                 <img src="../static/asset/wired-outline-1092-applause.gif" alt="">
            </div>
        </div>
        <div class="footer-heading">
            <h1> BRIGHT  BALOGUN</h1>
        </div>
        <div class="underline"></div>
        <div class="copyright-quote">
            <p class="copyright">Copyright © 2024. Bright Balogun. All Rights Reserved. See Privacy Policy. </p>
            <p class="qoute-mobile">“Even the smallest person can change the course of the future.” – Galadriel, LOTR.</p>

            <p class="qoute">“Even the smallest person can change the course of the future.” – Galadriel, LOTR.</p>
            <p class="copyright-mobile">Copyright © 2024. Bright Balogun. All Rights Reserved. See Privacy Policy. </p>
        </div>
    </footer>
</body>
</html>