<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright-Contact</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="./asset/bright.jpg" type="image/x-icon">
</head>
<!-- The contact page should redirect the contact page when a user submits a form -->
<body>
    <header>
        <nav>
            <div class="first-nav-div">
                <ul class="first-nav-ul">
                    <li><a href="./index.html"><h1>Balogunbright's</h1></a></li>
                    <li class="mobile"><a href="./projects.html"><button>Projects</button></a></li>
                    <li class="mobile"><a href="./bio.html"><button>Bio</button></a></li>
                    <li class="mobile"><a href="./about.html"><button>About</button></a></li>
                </ul>
            </div>
            <div class="second-nav-div">
                <ul class="second-nav-ul">
                    <li><a href="">Fa</a></li>
                    <li><a href="">In</a></li>
                    <li><a href="">Me</a></li>
                    <li><a href="">Tw</a></li>
                </ul>
                <div style="display: none;">
                    <ul>
                        <li><a href="./projects.html"><button>Projects</button></a></li>
                        <li><a href="./bio.html"><button>Bio</button></a></li>
                        <li><a href="./about.html"><button>About</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <p>Thank you! I will get in touch with you shortly...</p>
    </main>
</body>
</html>